*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: fantasy;
}

.container {
    display: flex; 
  }
  
  .column {
    flex: 1; 
   /* border: 1px solid; */
    padding: 1%; 
    text-align: center; 
    margin-left: 1%;
    margin-top: 1%;
  }

.img1{
    background-image: url("https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_750,h_750/global/307817/01/sv01/fnd/IND/fmt/png/Scuderia-Ferrari-x-Joshua-Vides-RS-X-Unisex-Sneakers");
    height: 550px;
    width: 98%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    justify-items: center;
    background-position: center;
}

.img2{
    background-image: url("https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_750,h_750/global/307817/01/fnd/IND/fmt/png/Scuderia-Ferrari-x-Joshua-Vides-RS-X-Unisex-Sneakers");
    height: 550px;
    width: 95%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    justify-items: center;
    background-position: center;
}

.container1{
    display: flex; 
  }
  
  .column1{
    flex: 1; 
   /* border: 1px solid; */
    padding: 1%; 
    margin-left: 1%;
    text-align: center; 
    margin-top: 1%;
  }

  .img3{
    background-image: url("https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_750,h_750/global/307817/01/sv04/fnd/IND/fmt/png/Scuderia-Ferrari-x-Joshua-Vides-RS-X-Unisex-Sneakers");
    height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    justify-items: center;
    background-position: center;
}

.img4{
    background-image: url("https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_750,h_750/global/307817/01/sv03/fnd/IND/fmt/png/Scuderia-Ferrari-x-Joshua-Vides-RS-X-Unisex-Sneakers");
    height: 550px;
    width: 97%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    justify-items: center;
    background-position: center;
}

.pre{
  font-family: 'Times New Roman', Times, serif;
  font-size: 170%;
  font-weight: bold;
  color: red;
}

.button{
  height: 40px;
  width: 10%;
  border-radius: 50px;
  margin: 5px;
  background-color:transparent;
  align-items: center;
  justify-content: center;
  font-weight:bolder;
  font-size: large;
  color: black;
  border: 0.5px solid lightgray;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
}

.add{
  height: 50px;
  width: 50%;
  background-color: transparent;
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
}

.wishlist{
  height: 50px;
  width: 30%;
  background-color: transparent;
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
 margin-left: 15px;
}

.txt{
 font-family: 'Fantasy';
  font-size: 20px;

 
}